In [ ]:
#this change is made throguh github

In [ ]:
#again test

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Downlaod Data

Step - 1:-
1. Go to Google Drive
2. Make a directory in myDrive with name mini_proj_data


Step - 2 :-
1. Go to Kaggle profile
2. click on settings icon
3. generate API
4. a file with kaggle.json would be generated downlaod and upload it to drive in folder mini_proj_data

step - 3:-
1. Run below code to download data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')  # Mount Google Drive

!mkdir -p ~/.kaggle
!cp /content/drive/MyDrive/mini_proj_data/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets download -d kmader/skin-cancer-mnist-ham10000 -p /content/drive/MyDrive/mini_proj_data/HAM10000 --unzip

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Dataset URL: https://www.kaggle.com/datasets/kmader/skin-cancer-mnist-ham10000
License(s): CC-BY-NC-SA-4.0
Downloading skin-cancer-mnist-ham10000.zip to /content/drive/MyDrive/mini_proj_data/HAM10000
100% 5.19G/5.20G [00:39<00:00, 132MB/s]
100% 5.20G/5.20G [00:39<00:00, 140MB/s]

In [ ]:
import pandas as pd

# Adjust path if needed
metadata = pd.read_csv('/content/drive/MyDrive/mini_proj_data/HAM10000/HAM10000_metadata.csv')

# Check what columns you have
print(metadata.columns)

Index(['lesion_id', 'image_id', 'dx', 'dx_type', 'age', 'sex', 'localization'], dtype='object')

In [2]:
metadata

         lesion_id      image_id     dx dx_type   age     sex localization
0      HAM_0000118  ISIC_0027419    bkl   histo  80.0    male        scalp
1      HAM_0000118  ISIC_0025030    bkl   histo  80.0    male        scalp
2      HAM_0002730  ISIC_0026769    bkl   histo  80.0    male        scalp
3      HAM_0002730  ISIC_0025661    bkl   histo  80.0    male        scalp
4      HAM_0001466  ISIC_0031633    bkl   histo  75.0    male          ear
...            ...           ...    ...     ...   ...     ...          ...
10010  HAM_0002867  ISIC_0033084  akiec   histo  40.0    male      abdomen
10011  HAM_0002867  ISIC_0033550  akiec   histo  40.0    male      abdomen
10012  HAM_0002867  ISIC_0033536  akiec   histo  40.0    male      abdomen
10013  HAM_0000239  ISIC_0032854  akiec   histo  80.0    male         face
10014  HAM_0003521  ISIC_0032258    mel   histo  70.0  female         back

[10015 rows x 7 columns]

In [ ]:
from pathlib import Path

# Paths to the two image folders
part1_dir = Path('/content/drive/MyDrive/mini_proj_data/HAM10000/HAM10000_images_part_1')
part2_dir = Path('/content/drive/MyDrive/mini_proj_data/HAM10000/HAM10000_images_part_2')

# Function to get the correct path for each image
def resolve_path(image_id):
    fname = f"{image_id}.jpg"
    if (part1_dir / fname).exists():
        return str(part1_dir / fname)
    elif (part2_dir / fname).exists():
        return str(part2_dir / fname)
    else:
        return None

metadata['image_path'] = metadata['image_id'].apply(resolve_path)

# Drop rows if any images are missing
metadata = metadata.dropna(subset=['image_path'])

# Verify
print(metadata[['image_id', 'dx', 'image_path']].head())

True C:\Users\ompat\OneDrive\Desktop\mini_proj_data\HAM10000_images_part_1
True C:\Users\ompat\OneDrive\Desktop\mini_proj_data\HAM10000_images_part_2
Empty DataFrame
Columns: [image_id, dx, image_path]
Index: []

In [15]:
metadata

Empty DataFrame
Columns: [lesion_id, image_id, dx, dx_type, age, sex, localization, image_path]
Index: []

In [ ]:
metadata.to_csv("/content/drive/MyDrive/mini_proj_data/proj_metadata.csv",index=False)